.body{
  background-color: red;
  border: 1px solid black;
 height: 400px;
 width: 400px;

 display: flex;
justify-content: center;
align-items: center;
text-align: center;
padding: 5px;
max-width: 600px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
  background-color: aqua;
  justify-content: center;
}